html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    overflow-x: visible;
    overflow-y: hidden;
}
body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 100%;
    overflow-x: visible;
    overflow-y: hidden;
    color: white;
    text-align: center;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-backface-visibility: visible;
    font-family: Helvetica, sans-serif;
    font-size: .9em;
}

.btn {
    margin-bottom: .6em;
    padding: 1em;
    width: 96%;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #171a21;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
}

.green {
    width: 48%;
    background: #29b534;
}
.light {
    width: 48%;
    background: #393f4f;
}

#account-balance-outer {
    position: relative;
    /*left: 3px;*/
    top: 2px;
    background-color: #464141;
    width: 150px;
    height: 28px;
    border-style: solid;
    border-width: 1px;
}

#account-balance-outer-text {
    text-align: center;
    position: relative;
    top: -7px;
}

#stake-display {
    /*left: 157px;*/
    top: -28px;
}

.ui-display-button {
    padding: 6px 10px;
}

.ui-green {
    background-color: #29b534;
    cursor: pointer;
}

.ui-display-button-disabled {
    background-color: grey;
    cursor: not-allowed;
}

.ui-display-element {
    text-align: center;
    display:inline;
}

.thin-border {
    border-style: solid;
    border-width: 1px;
}

#activate-logo {
    position: relative;
    top: 1px;
}

#content {
    /*background-color:#ff0000;*/
    background: #22242a;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    /* border: 1px solid #ff0000;*/
}

#top {
    /* background-color:#0000ff;*/
    background-color: black;
    width: 100%;
    height: 35px;
}

#logos {
    text-align: left;
    height: 26px;
    position: fixed;
    top: 0px;
    float: left;
    background: #22242a;
    right: 35px;
    padding: 4px 3px;
    left: 0px;
}

.ui-display-base {
    background-color: black;
    width: 150px;
    min-width: 22.5%;
    height: 28px;
    position: relative;
    top: -44px;
}

.ui-display-value {
    position: absolute;
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
}

.ui-display-button-minus {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-right: 12px;
}

.ui-display-button-plus {
    position: absolute;
    right: 0px;
    top: 0px;
}


#balance {
    /*background-color:#dddddd;*/
    /* border: 1px solid #ffffff;*/
    /*margin:0 auto;*/
    width: 100%;
    float: inherit;
}
#balance_text {
    /*background-color:#22242a;*/
    background-color: #30333b;
    /*border: 1px solid #ff0000;*/
    border-radius: 3px;
    margin: 0 auto;
    font-size: 0.8em;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    width: 97%;
}
#gan_items {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 5px;
    background: #22242a;
}

#operator {
    /*background-color:#dddddd;*/
    /*border: 1px solid #ffffff;*/
    margin: 0 auto;
    /* float:right;*/
    font-size: 0.6em;
}

#commands {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    background: #22242a;
}

.console-control-button {
    float: right;
    height: 28px;
    width: 28px;
    margin-right: 3px;
    margin-top: 3px;
    border: 0px;
}

#activate {
    position: relative;
    /*top: -60px;*/
}
#deactivate {
    background: #ec2327;
    cursor: pointer;
}
#slider {
    position: relative;
    width: inherit;
    text-align: left;
}

input[type='range'] {
    position: relative;
    top: .6em;
    min-width: 70%;
    width: 60%;
    height: 2em;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    background: #111215;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    z-index: 3;
    width: 2em;
    height: 2em;
    border: 1px solid #fff;
    border-radius: 100%;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
    -webkit-appearance: none;
    -moz-appearance: none;
}

:disabled {
    opacity: 0.25;
}

#add_funds_surround {
    position: relative;
    top:0;
    width: 100%;
    padding-bottom: 10px;
}

#add_funds_form {
    text-align: center;
    letter-spacing: .1em;
    font-weight: bold;
    margin: 0 auto;
    width: 70%;
    background: #22242a;
    padding-top: 10px;
    margin-top: 10px;
    /*border-bottom: 10px solid transparent;*/
    border: 4px solid #5f6578;
    border-radius: 5px;
}

#add_funds_range {
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.logo_element {
    padding: 2px;
    vertical-align: middle;
    max-height: 25px;
}

#alert_surround {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 10px;
}

#alert_box {
    width: 70%;
    margin: 0 auto;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid #5f6578;
    border-radius: 5px;
}

#alert_text {
    letter-spacing: .1em;
    font-weight: bold;
    font-size: .8em;
    padding-bottom: 10px;
}