
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* kill the android browser green border on links and buttons */
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	background: #fff;/*#0d1b5b;*/
	/*overflow: hidden; */ /*stop scrollbars */
	height: 100%; 
	/*border: 1px solid #fff;*/
}

body {
	margin:0px;
	border: 0px;
	height: 100%;
}


/* 
  OUTERMOST game_container div
-------------------------------------------------------------------
------------------------------------------------------------------- */

#top_container{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: left;
	/*background: #000;*/
	/*border: 1px solid #ff0000;*/
}

/* 
  buttons
------------------------------------------------------------------- */

.wide_button_text{
	font-size: 19px;
	font-weight: normal;
	text-align: left;
	color: #fff;
	position: absolute;	
	top: 30%;
	width: 80%;
	/*text-shadow: 0px 1px #ccc;*/
	left: 10%;
	/*top: 15px;
	left: 0px;
	width: 264px;*/
	/*border: 1px solid #fff;*/
}

.simple_button_text{
	font-size: 14px;
	text-align: center;
	color: #fff;
	position: absolute;	
	top: 28%;
	width: 100%;
	text-shadow: 0px 1px #000;
	/*top: 12px;
	left: 0px;
	width: 108px;*/
	/*border: 1px solid #fff;*/
}
